<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openWeatherMapGeocodingAPIKey</key>
	<string></string>
	<key>netatmoClientID</key>
	<string></string>
	<key>netatmoClientSecret</key>
	<string></string>
	<key>dwdRadarTileBaseURL</key>
	<string></string>
	<key>dwdRadarTileToken</key>
	<string></string>
</dict>
</plist>
